.box{height: 400px;
width: 300px;
background-color: #2F8141;
margin-left: 35px;
}
.box1{
width: 571px;
height: 140px;
background-color: #13513B;
margin-left: 35px;
}
.box2{
width: 571px;
height: 140px;
background-color: #E624BB;
margin-left: 35px;
}
.box{
width: 571px;
height: 140px;
background-color: #55EF0D;
}